@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Unbounded:wght@200..900&display=swap");

@import "tailwindcss";

@import "bootstrap-icons/font/bootstrap-icons.css";
@import "remixicon/fonts/remixicon.css";

:root {
  --prim-color: #299e60;
  --prim-light: #e6f9ef;
  --white-color: #fff;
  --black-color: #000;

  --Unbounded: "Unbounded", sans-serif;
  --Merienda: "Merienda", cursive;

  --transition-reguler: 0.3s;
  --transition-show: 0.6s;
}

* {
  scroll-behavior: smooth;
}

.Unbounded {
  font-family: var(--Unbounded) !important;
}
.Merienda {
  font-family: var(--Merienda) !important;
}

.menu-link a {
  font-weight: 600;
  transition: var(--transition-reguler);
}

.menu-link a:hover {
  color: var(--prim-color);
}

.fixed-nav {
  animation: Anim-fixed var(--transition-show) forwards linear;
  box-shadow: 0 2px 10px rgba(131, 131, 131, 0.6);
}

.nav-button .fixed-nav {
  padding: 25px 20px !important;
}

@keyframes Anim-fixed {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.Hero {
  background-color: #d3ebc0;
  background-image: url(../public//hero-bg.png);
  width: 100%;
  height: 60vh;
  border-radius: 20px;
}

.hero-wrap h1 {
  opacity: 0;
  animation: Anim-top var(--transition-show) 1s forwards linear;
}

.hero-wrap p {
  opacity: 0;
  animation: Anim-top var(--transition-show) 0.8s forwards linear;
}
.hero-wrap button {
  opacity: 0;
  animation: Anim-top var(--transition-show) 0.6s forwards linear;
}
.hero-image {
  opacity: 0;
  animation: Anim-scale var(--transition-show) 1.5s forwards linear;
}

/* animation */

@keyframes Anim-top {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes Anim-scale {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Categories */

.category-wrap:hover img {
  transform: scale(1.1);
}
.category-image {
  width: 140px;
  height: 140px;
  background-color: var(--prim-light);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Deals */
.deals-wrap {
  background-image: url(../public/Deals-bg1.png);

  background-position: center center;
  background-size: cover;
}
.deals-wrap2 {
  background-image: url(../public/Deals-bg2.png);
}

/* Products */
.product-wrap img {
  transition: var(--transition-reguler);
}
.product-wrap :hover img {
  transform: scale(1.1);
}

/* Offers */

.offer-wrap {
  background-color: var(--prim-color);
  position: relative;
  z-index: 5;
}
.offer-wrap:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../public/offer-shape.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
  opacity: 0.1;
}

.off-product {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* Hot Deals */
.hot-deal-banner {
  background-color: var(--prim-color);
  position: relative;
  z-index: 5;
}
.hot-deal-banner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../public//offer-shape.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
  opacity: 0.1;
}
/* Best sales Banner */
.best-sale-banner{
  background-image: url(../public/BestSales/special-snacks.png);
}


/* Banner */
.banner{
  background-color: var(--prim-color);
  background-image:url(../public/delivery-bg.png);
  background-position: center center;
  background-size: cover;
}

/* Short Product */
.short-product-title h2{
  position: relative;
}
.short-product-title h2:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  width: 100%;
  height: 3px;
  background-color: var(--white-color);
}
.short-product-title h2:before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  width: 40%;
  height: 3px;
  background-color: var(--prim-color);
  z-index: 1;
}
.short-product-info h2{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.short-product:hover img{
  border-color: var(--prim-color);
  transition: var(--transition-reguler);
}

/* News Letter */
.newsletter-wrap{
  background-color: #121535;
  position: relative;
  z-index: 1;
}
.newsletter-wrap:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../public//newsletter-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.1;
}

/* Footer */
.footer{
  background-image: url(../public/footer-bg.png);
  background-position: center center;
  background-size: cover;
}

@media (max-width: 991px) {
  .Hero {
    height: 100%;
  }
  .hero-image {
    width: 80%;
  }
  .hero-wrap h1 {
    font-size: 2.5rem;
  }
  .category-info h2 {
    font-size: 1rem;
  }
  .banner-img1{
    width: 30%;
  }
  .banner-img2{
    width: 30%;
    top: 40%;
  }
}

@media (max-width: 575px) {
  .swiper-button-prev-custom,
  .swiper-button-next-custom {
    display: none;
  }
  .Hero {
    padding: 5%;
  }
  .hero-wrap h1 {
    font-size: 2rem;
  }
  .hero-image {
    width: 100%;
  }
  .hero-wrap p {
    width: 100%;
  }
  .banner-content h2 {
    font-size: 2rem;
    line-height: 3.5rem;
  }
  
  .banner-img1,
  .banner-img2{
    display: none;
  }
  .banner h1{
    font-size: 1.6rem;
    line-height: 3rem;

  }
}
